<% if @projects.any? %>
	<div class="projects box">
	<h3><%=l(:label_project_latest)%></h3>
		<ul>
		<% for project in @projects %>
			<li>
			<%= link_to h(project.name), :controller => 'projects', :action => 'show', :id => project %> (<%= format_time(project.created_on) %>)
			<%= textilizable project.short_description, :project => project %>
			</li>
		<% end %>
		</ul>
	</div>
	<% end %>